@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Mukta&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
/* Name */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
/*a tags*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

.light {
  --bodyBg: #fff;
  --sectionEven: #fff;
  --heading2: #fff;
  --imageBg: #fff;
  --tdBg: #fff;
  --mainText: #333;
}

.dark {
  --bodyBg: #333;
  --sectionEven: #333;
  --heading2: #333;
  --imageBg: #333;
  --tdBg: #333;
  --mainText: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* margin: 15px; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, */
  /* Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Monserra",'Montserrat', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  margin-top: 5%;
}

/* css for dissolving carousel effect  */


header {
  overflow: hidden;
}

.dissolve {
  width: 100%;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}

.carousel.dissolve {
  height: 100dvh;
}

.dissolve .item {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  right: 0;
  opacity: 0;
  padding: 0;
  filter: brightness(0.5);
  animation: dissolve 20s linear infinite;
}

.dissolve .item:nth-child(2) {
  animation-delay: 5s;
}

.dissolve .item:nth-child(3) {
  animation-delay: 10s;
}

.dissolve .item:nth-child(4) {
  animation-delay: 15s;
}

@-webkit-keyframes dissolve {

  0%,
  30%,
  100% {
    opacity: 0;
  }

  5%,
  25% {
    opacity: 1;
  }
}

@-moz-keyframes dissolve {

  0%,
  30%,
  100% {
    opacity: 0;
  }

  5%,
  25% {
    opacity: 1;
  }
}

@-ms-keyframes dissolve {

  0%,
  30%,
  100% {
    opacity: 0;
  }

  5%,
  25% {
    opacity: 1;
  }
}

@keyframes dissolve {

  0%,
  30%,
  100% {
    opacity: 0;
  }

  5%,
  25% {
    opacity: 1;
  }
}

.info {
  width: 100%;
}

.name-reveal {
  position: absolute;
  bottom: 100px;
  left: 20px;
  width: 35%;
}

.messi,
.messi>img {
  width: 100%;
}

.messi {
  animation: messi 1.3s ease 0s 1 normal none;

}

.leo>p {
  color: white;
  font-size: 40px;
  letter-spacing: 30px;
  text-align: center;
  animation: messi .8s ease .2s 1 normal none;
}


@keyframes messi {
  from {
    opacity: 0;
    transform: translateX(-105%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}





/* NAVBAR */
#navbar {
  position: fixed;
  z-index: 1000;
  height: 120px;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  border: none;
  padding: 0 20px;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
}

.nav-2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: max-content;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
}

.logo a {
  text-decoration: none;
  color: white;
  font-family: 'El Messiri', sans-serif;

  font-size: 30px;
}

.div-navbar {
  width: 60%;
  font-family: 'Righteous', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.div-navbar a:not(.a-name) {
  /* margin-left: 4%; */
  text-decoration: none;
  color: white;
  font-size: 21px;
}

.bar {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

.a-name:hover,
.a-name:visited {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 20px white;

}

.div-navbar a:not(.a-name):hover {
  text-shadow: 0 0 20px white;
}

.switch-container div {
  background-image: url("./Image//stars.webp");
  display: flex;
  width: 75px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  background-color: rgb(114, 33, 75);
  border-radius: 50px;
  cursor: pointer;
  position: relative;
}

.switch-container div i {
  font-size: 18px;
}

.switch-container div .fa-sun {
  color: gold;
  transition: 0.8s;
}

.switch-container div .fa-moon {
  color: #fff;
  transition: 0.8s;
  opacity: 0;
}

.switch-container div .ball {
  display: none;
}


/* BURGER */
.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .div-navbar {
    width: 60%;
  }
}

@media screen and (max-width: 945px) {
  body {
    overflow-x: hidden;
  }

  .div-navbar {
    position: fixed;
    right: 0px;
    height: 60%;
    top: 8vh;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 5% 0%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .div-navbar a {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

main {
  /* background-color:darkorchid; */
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: var(--bodyBg);
  color: var(--mainText);
}

h2 {
  text-align: center;
  font-size: 40px;
  padding: 25px;
  font-weight: bold;
  color: rgba(26, 39, 126, 0.887);
}



section {
  min-height: 100vh;
  text-align: center;
  font-size: 40px;
}

.stats-area {
  height: 100vh;
  width: 100%;
  background: rgb(56, 209, 255);
  background: linear-gradient(0deg, rgba(56, 209, 255, 1) 0%, rgba(255, 255, 255, 0) 90%);
  overflow: hidden;
  position: relative;

}

.stats-messi {
  width: 100%;
  position: absolute;
  height: inherit;
}

.stats-messi>img {
  width: 70%;
}


#stats-messi-image {
  position: relative;
  top: 40px;
  z-index: 1;
  display: unset;
}

#stats-messi-image2 {
  position: absolute;
  top: 40px;
  z-index: 1;
  display: none;
}

#STATS {
  color: rgb(0, 0, 0);
  background: none;
  font-size: 40px;
  padding: 0;
  font-weight: bolder;
  margin: 0;
}

#STATS.darkTheme {
  color: white;
}



.stats-main-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: inherit;
}

.extra-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 40%;
  font-family: 'Righteous', sans-serif;
}

.stats-table {
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 3rem;
  flex-direction: column;
  width: 100%;
  font-family: 'El Messiri', sans-serif;
}

.stats-table .card {
  border-radius: 0.2rem;
  overflow: hidden;
  transition: 0.2s ease;
  display: flex;
  background: linear-gradient(90deg, rgba(6, 55, 193, 1) 36%, rgba(255, 255, 255, 0) 100%);
}

.stats-table .card:hover {
  transform: translateY(-0.5rem);
}

.stats-table .card-heading {
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  padding: 15px;
}

.stats-table .card-text {
  font-size: 20px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 15px;
}

.extra-info img {
  float: top;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  transition: transform 0.2s ease;
}

.ucl {
  width: 300px;
  height: 200px;
  float: center;
  border-radius: 20px;
  transition: transform 0.2s ease;
}

.extra-info img:hover {
  transform: scale(1.1);
  filter: brightness(110%);
}

.stats-area .info-label {
  /* font-weight: bold; */
  font-size: 25px;
  /* font-family: "Alkalami", serif; */
  color: white;
}

.info-label {
  float: bottom;
}


video {
  padding: 5px;
}

iframe {
  height: 75vh;
}

img {
  padding: 10px;
}

section h5 {
  margin: 40px;
}

header {
  background-color: black;
}

h2 {
  width: 200px;
  margin: 10px auto;
  background-color: rgba(0, 0, 0, 0.847);
  color: white;
  border-radius: 4px;
}

.flex-align-right {
  margin-left: auto;
}

.facts>li {
  text-align: justify;
  margin-bottom: 20px;
}

.factsHead {
  color: rgb(255, 46, 46) !important;
  background-color: purple;
  font-size: 40px;
  font-family: "Oswald", serif !important;
  margin: auto;
  justify-content: center;
  text-align: center;
  display: flex;
  width: 100px;
  padding: 22px 100px;
  margin-top: 30px;
  border-radius: 15px;
  /*changed the border radius */
}

/*adding hover effect on the factsHead */
.factsHead:hover {
  border-radius: 15px;
  background-color: rgba(128, 0, 128, 0.500);
}

/* external css: flickity.css */

* {
  box-sizing: border-box;
}

.carousel-cell {
  width: 50%;
  /* height: auto; */
  margin-right: 10px;
  border-radius: 5px;
  filter: blur(4px);
  transition: blur 1s;
  counter-increment: gallery-cell;
  height: 90%;
}

.carousel-cell.is-selected {
  transition: blur 1s;
  filter: blur(0);
}

.flickity-viewport {
  padding: 20px;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.carousel {
  height: 60vh;
}



.carousel-cell video {
  max-width: 750px;
  width: 90%;
  height: inherit;
  border: 2px solid;
  border-radius: 20px;
  box-shadow: 0 0 11px 1px black;
  background: white;
  position: relative;
  transition: box-shadow 1s;
  object-fit: cover;
}


.carousel-cell.is-selected video {
  transition: box-shadow 1s;
  box-shadow: 0px 6px 20px 4px #3eb4c3;

}


.video-area {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  /* background-color: rgb(255, 255, 255); */
  background: none;
  display: flex;
  /* width: 100%; */
  /* height: 100%; */
  flex-direction: column;
  justify-content: space-evenly;
  /* --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  background-size: 55px 55px; */
  overflow: hidden;

}


.image-area>svg {
  position: absolute;
  /* z-index: 0; */
  top: -130px;
  left: 0;
}

main {
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-size: 55px 55px;
}

main.darkTheme {
  --dark-color: #303030;
  background-color: #212121;
  background-size: 55px 55px;
  background-image: linear-gradient(0deg, transparent 24%, var(--dark-color) 25%, var(--dark-color) 26%, transparent 27%, transparent 74%, var(--dark-color) 75%, var(--dark-color) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, var(--dark-color) 25%, var(--dark-color) 26%, transparent 27%, transparent 74%, var(--dark-color) 75%, var(--dark-color) 76%, transparent 77%, transparent);
  background-color: #1A1A1A;
  background-size: 55px 55px;
}



.image-area {
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: rgba(0, 0, 0, 0.847);
  padding-top: 0px;
  padding-bottom: 5px;
  margin-bottom: 0px;
  position: relative;
  overflow: hidden;
  /* background: none; */
  /* background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-size: 55px 55px; */
  background: none;
}

#PHOTOS {
  z-index: 1;
}

.img-row {
  z-index: 1;
}

.top-scroll {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  /* top: 80%; */
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

#top-scroll-img {
  width: 80px;
}

.top-scroll:hover {
  background-color: none;
  text-shadow: 0 0 20px white;
}



.image-area img {
  width: 300px;
  height: 200px;
  border-radius: 15px;
  background: white;
  transition: transform 0.2s ease-in-out;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 0px, rgba(60, 64, 67, 0.15) 0px 1px 1px 1px;
  border: 2px solid #ffffff;
  padding: 0;
}

.image-area>.img {
  z-index: 1;
}

.image-area img:hover {
  box-shadow: none;
  transform: scale(1.1);
  filter: brightness(120%);
}

.image-area .img-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.secondary_heading {
  font-family: "Oswald", serif;
  color: #ffffff;
  border-radius: 15px;
  /* added border radius */
}

.secondary_heading {
  font-family: "Oswald", serif;
  color: #ffffff;
  border-radius: 15px;
  /* added border radius */
}

/*adding the hover effect on heading */
.secondary_heading:hover {
  background-color: rgba(0, 0, 0, 0.500);
}

.secondary_heading.darkTheme:hover {
  background-color: rgb(66 66 66 / 50%);
}

.secondary_heading.darkTheme {
  background: #404040;
}

/* added this hover effect on the CSS of the links , such that the underlined is also in the same color with the text*/
.extra-info a:hover {
  color: white;
}



.info-area {
  padding-bottom: 100px;
}

.info-area .social_links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info-area .social_link {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  height: 45px;
  margin: 10px 7px;
  padding: 0 5px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.info-area .social_link:hover {
  color: white;
  font-style: none;
  text-decoration: none;
  text-shadow: 0 0 20px white;
}

.info-area .social_link:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  -webkit-transition: all 0.09s ease-in;
  transition: all 0.09s ease-in;
  border-radius: 100%;
  width: 15%;
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.info-area .social_link_wikipedia:before {
  background: #d6d6d6;
    background: radial-gradient(circle at 30% 107%, #ffffff 0%, #c7c7c7 5%, #898989 45%, #bebebe 60%, #686868 90%);
}

.info-area .social_link_instagram:before {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.info-area .social_link_facebook:before {
  background: #337ab7;
  background: radial-gradient(circle at 30% 107%, #ffffff 0%, #c7c7c7 5%, #498efd 45%, #8cd9f0 60%, #285AEB 90%);
}


.info-area .social_link:hover:before {
  width: 110%;
  opacity: 1;
  transition: all .09s linear;
}

.main-info {
  /* border-radius: 12px; */
  /* -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.55); */
  /* -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.55); */
  /* box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.55); */
  /* background-color: #edebeb; */
  background-position: 0 0, 36px 36px;
  background-size: 72px 72px;
  width: 80%;
  margin: 0 auto;
  border-radius: 23px;
  background: linear-gradient(145deg, #fefbfb, #d5d4d4);
  box-shadow: 7px 7px 19px #a6a5a5,
    -7px -7px 19px #ffffff;
  padding: 20px;
}

/*  */
#image-hover {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
}

.myCard {
  background-color: transparent;
  width: 20%;
  height: max-content;
  perspective: 1000px;
}


.innerCard {
  position: relative;
  width: 100%;
  height: max-content;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
  aspect-ratio: 3/5;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: max-content;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.mainInfoMessiaCard {
  width: 100%;
  border-radius: 1rem;
  padding: 0;
  aspect-ratio: 3/5;
  filter: brightness(130%);
}

.frontSide,
.frontSide::before {
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(55 203 247) 46%, rgb(255, 204, 112) 100%);
}

.backSide,
.backSide::before {
  background-image: linear-gradient(160deg, #37cefc 0%, #08a8d7 100%);
}





.backSide {
  transform: rotateY(180deg);
}




.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
  animation: animate 5s linear infinite;
}

.frontSide::before {
  width: 100%;
  height: 100%;
}

.backSide::before {
  width: 105%;
  height: 105%;
}

@keyframes animate {
  0% {
    opacity: 0.3;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

/*  */
.main-info.darkTheme {
  background: #1f1f1f;
  box-shadow: 5px 5px 10px #1b1b1b,
    -5px -5px 10px #232323;
}

/*added CSS to the image , filter effect */



/*added hover CSS effect , filter(grayscale) effect */


.info-area h2 {
  width: 400px;
  /* background-color: rgba(9, 26, 86, 0.797); */
  background-color: #ce2626;
  opacity: 1;
  background-image: linear-gradient(0deg, #ce2626 50%, #1f2266 50%);
  background-size: 36px 36px;
}

.info-area h3 {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.info-area h5 {
  color: #a50044;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.info-area h4 {
  color: #db0030;
  font-family: 'Montserrat', sans-serif;
}

.info-area p {
  color: #edbb00;
  font-weight: bold;
}

.info-area ul li {
  list-style: square;
}

.info-video {
  height: 300px;
  width: auto;
  filter: blur(0);
}

.achivements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 120px */
  column-gap: 120px;
}

.achivements img {
  width: 400px;
  height: 300px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /*added border -radius to the images */
}

/* added hover effect to the images */
.achivements img:hover {
  transform: scale(1.1);
  filter: brightness(120%);
  border-radius: 20px;
}

.achivements-div {
  display: flex;
  flex-direction: column;
}

.achivements-div h3 {
  font-family: "Alkalami", serif;
  font-size: 2rem;
  color: #E1306C;
}

footer {
  background-color: #333;
  overflow: hidden;
  background-color: #333;
  font-size: 19px;
  width: 100%;
  position: relative;
  left: 0;
  bottom: 0;
}

.main-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.main-footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  color: white;
}

.copyright:hover {
  color: white;
  text-decoration: none;
  cursor: default;
}

@media(max-width:712px) {
  .main-footer {
    flex-direction: column;

  }
}


/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media (max-width: 745px) {


  .dissolve .item {
    width: unset;
    height: 100vh;
    object-fit: cover;
  }

  .dissolve .item:nth-child(1) {
    object-position: -55rem;
  }

  .dissolve .item:nth-child(2) {
    object-position: -50rem;
  }

  .dissolve .item:nth-child(3) {
    object-position: -30rem;
  }

  .dissolve .item:nth-child(4) {
    object-position: -30rem;
  }

  .leo>p {
    font-size: 25px;
  }

  .name-reveal {
    width: 75%;
  }

  .navbar .main-nav {
    display: none;
  }

  .navBarMobile .main-nav {
    display: flex !important;
    flex-direction: column;
  }

  .navBarMobile a {
    padding: 10px;
  }

  .logo img {
    width: 60px;
  }

  .logo a {
    font-size: 20px;
  }



  .switch-container div {
    width: 60px;
    height: 30px;
  }

  .info-area h2 {
    width: 90%;
  }



  .achivements img {
    width: 90%;
    height: fit-content;
  }

  .info-area p {
    font-size: 1.7rem;
  }

  .messi-facts {
    margin: 40px 10px;
    font-size: 15px;
    text-align: start;
  }

  .messi-facts li {
    margin: 15px 0;
    text-align: start;
  }

  #last-info-video,
  #last-info-video>video {
    height: fit-content;
    width: 100%;
    background: red;
  }

  .achivements-div {
    align-items: center;
  }

  .info-area .social_link {
    font-size: 10px;
    margin: 10px 0;
  }

  .extra-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 40%;
  }

  .extra-info a {
    height: 80%;
    width: 100%;
  }

  .extra-info img {
    width: auto;
    height: 100%;
  }

  .extra-info a:nth-of-type(2) {
    grid-area: 1/2/3/3;
    height: 80%;
  }

  .stats-table .card {
    height: 10%;
    align-items: center;
  }

  .stats-table .card-heading {
    padding: 15px 10px;
  }

  .stats-area .info-label {
    font-size: 12px;
  }

  #stats-messi-image {
    display: none;
  }

  #stats-messi-image2 {

    display: unset;
    right: 0;
    height: inherit;
    width: fit-content;
    padding-right: 0;
  }

  .stats-table {
    z-index: 1;
  }

  #nav-icon {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 30px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon span:nth-child(1) {
    top: 0px;
  }

  #nav-icon span:nth-child(2),
  #nav-icon span:nth-child(3) {
    top: 9px;
  }

  #nav-icon span:nth-child(4) {
    top: 18px;
  }

  #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .switch-container {
    top: 30px;
  }

  .stats-table {
    margin-top: 1rem;
  }

  .info-video {
    width: 80%;
    height: auto;
  }

  .video-area {
    /* min-height: 60vh; */
  }

  .carousel-cell {
    width: 80%;
    height: 60vh;
    /* height: 80%; */
  }

  .carousel-cell video {
    object-fit: cover;
  }

  .carousel {
    height: 70vh;
  }

  .myCard {
    width: 90%;
  }

  .image-area img {
    width: 45%;
    object-fit: cover;
    height: inherit;
    border-radius: 10px;
  }

  .image-area svg {
    top: -42%;
  }

  .main-footer {
    width: 100%;
    align-items: center;
  }

  footer a {
    padding: 20px 10px;
  }

}

.points li {
  /* background-color: blue; */
  margin-top: 5%;
  text-align: left;
}
.c-1{
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left:auto;
  margin-right: auto;

}
.card_ani1 {
  transition: ease-in-out 800ms;
  background-size: contain;
  background-repeat: no-repeat;
  width: 22vw;
  height: 22vw;
  min-width:200px;
  min-height:200px;
}

.card_ani1:hover{
  transition: ease-in-out 800ms;
}

#c-1{
  background-image: url("Image/c1_1.png");
  
}

#c-1:hover{
  background-image: url("Image/c1_2.png");
}

#myDiv{
  background-image: url("Image/im2.png");
  width: 22vw;
  min-width:100px;
  height: 22vw;
  min-height: 100px;
  min-width:200px;
  min-height:200px;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: red; */
}

#c-2{
  background-image: url("Image/c2_1.png");
}

#c-2:hover{
  background-image: url("Image/c2_2.png");
}



/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1220px) {}