@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    /* margin: 15px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-decoration: none;
    padding: 30px;
    text-align: center;
    float: left;
    color: white;
}

nav a:hover {
    background-color: crimson;
}

main {
    /* background-color:darkorchid; */
    text-align: center;

}

h2 {
    text-align: center;
    font-size: 40px;
    padding: 25px;
    font-weight: bold;
}

section {
    /* max-height: 100vh; */
}

video {
    padding: 5px;
}

iframe {
    height: 75vh;
}

img {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

table,
tr,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 10px;
}

th {
    background-color: skyblue;
}

td {
    background-color: coral;
}

.banner {
    background-image: url(./Video/DkUQ.gif);
    height: 20vw;
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 35%;
    background-attachment: fixed;
}

header {
    background-color: black;
}

h2 {
    width: 200px;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.847);
    color: white;
    border-radius: 4px;
}

.flex-align-right {
    margin-left: auto;
}

/* external css: flickity.css */

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.carousel-cell {
    width: 66%;
    margin-right: 10px;
    border-radius: 5px;
}

.carousel-cell video {
    max-width: 750px;
    width: 90%;
    height: 424px;
}

.video-area {
    margin-bottom: 200px;
}

.image-area {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.847);
    padding-top: 50px;
    padding-bottom: 150px;
    margin-bottom: 100px;
}

.image-back-div {
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 93% 47%, 100% 100%, 70% 100%, 30% 100%, 0 100%, 7% 48%);
    padding: 100px 0;
}

.image-area img {
    width: 300px;
    height: 200px;
    border-radius: 15px;
    transition: transform .2s ease-in-out;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 1px 0px, rgba(60, 64, 67, 0.15) 0px 1px 1px 1px;
}

.image-area img:hover {
    box-shadow: none;
    transform: scale(1.2);
    filter: brightness(120%);
}

.image-area .img-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
}

.image-area h2 {
    width: 200px;
    margin: 10px auto;
    background-color: white;
    color: black;
    border-radius: 4px;
}

.secondary_heading {
    font-family: 'Alkalami', serif;
    color: white;
}

.stats-area {
    margin: 150px 0;
}

.stats-background-div {
    background: url("Image/stats-background.jpg")no-repeat center center/cover rgba(0, 0, 0, 0.518);
    background-blend-mode: darken;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats-main-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    width: 80%;
}

.extra-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats-table th {
    font-size: 25px;
    font-weight: bolder;
    color: white;
    background-color: tomato;
    padding: 0px 15px;
}

.stats-table td {
    font-size: 20px;
    color: black;
    background-color: white;
}

.extra-info img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    transition: transform .2s ease;
}

.extra-info img:hover {
    transform: scale(1.1);
    filter: brightness(110%);
}

.stats-area .info-label {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Alkalami', serif;
    color: white;
}